//- body.jade
//- This file provides the HTML body part.


body
	#main(align="center")
		#topdiv(style="width:100px; height:20px;")
		#mobile(style="width:600px; height:400px;")

		script.
			drawPieChart()
			var plot

			function drawPieChart() {
				$.get("http://tweetanalyzer.mybluemix.net/stats",
					function(responseData) {
						
						if (responseData['sum'] < 10)
							response = responseData['classified']
						else {
							responseTemp = responseData['classified']
							response = {'Others':0}
							for (var key in responseTemp) {
								if (responseTemp.hasOwnProperty(key)) {
									if (responseTemp[key]/responseData['sum'] > 0.05) {
										response[key] = responseTemp[key] 
									} else {
										response['Others'] += responseTemp[key] 
									}
								}
							}
							console.log(response)
						}

						var counter = 0;
						var slice;
						var series = [];

						for (var key in response) {
							if (response.hasOwnProperty(key)) {
								//console.log(key)
								slice = [key, response[key]]
								series[counter++] = slice
							}
						}

						//var series = [slice_1, slice_2];
						var data = [series];

						var options = {
							title: {
								textColor: 'white',
								text: 'Real Time Analysis of Images Posted on Twitter Related to "NYC" Using Watson Visual Recognition Service (refreshes in every 10 sec.)'
							},
							seriesDefaults: {
								renderer: jQuery.jqplot.PieRenderer,
								rendererOptions: {
									sliceMargin: 1,
									lineWidth: 3,
									showDataLabels: true
								}
							},
							grid: {
								drawGridLines: true,
								background: '#36454f'
							},
							legend:{
								show:true,
								placement: 'outside',
								background: '#36454f',
								location:'s',
								marginTop: '15px',
								rendererOptions: {
									numberRows: 10
								} 
							}   
						};
						if (plot) {plot.destroy();}
						plot = $.jqplot('mobile', data, options);
					}
				);
			}

			$(document).ready(
				function() {
					setInterval(function() {
						drawPieChart()
					}, 10000);
				});
			

