//- head.jade
//- This file provides the HTML head part

head
  title Tweet Analyzer
  meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
  link(rel="stylesheet", href="/stylesheets/style.css")
  <script type='text/javascript', src="http://code.jquery.com/jquery-1.10.2.js"></script>
  <link rel="stylesheet" type="text/css" href="jqplot/jquery.jqplot.min.css" />
  <script src="jqplot/jquery.min.js" ></script>
  <script src="jqplot/jquery.jqplot.min.js" ></script>   
  <script src="jqplot/plugins/jqplot.pieRenderer.min.js"></script>
